:root {
  --primary-color: #27ae60;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body,
html {
  /* overflow: hidden; */
  height: 100%;
}

body {
  background-color: #fff;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@keyframes marquee {
  0% {
    text-indent: 150%;
  }
  100% {
    text-indent: -50%;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #27ae5f2d;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.discover {
  width: 308px;
  padding: 12px 12px 0 12px;
  background-color: #fff;
}

.discover header {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 32px;

  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  text-align: left;
}

.search-wrap {
  position: relative;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #d6dee18a;
  outline: none;
  color: #9dbfaf;
}

.search:focus {
  color: #333;
}

.searchTerm {
  width: 100%;
  padding-left: 35px;
  border-width: 0;
}

.searchButton {
  position: absolute;
  top: 2px;
  left: -4px;

  width: 40px;
  height: 30px;
  text-align: center;
  color: #d6dee1;
  font-size: 15px;
  border: 0px;
}

.search-hint {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  padding: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.search-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.search-item:hover {
  background-color: #4caf4fe8;
  cursor: pointer;
}

.search-thump {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);
  margin: 0 8px;
}

.search-title h5 {
  width: 220px;
  color: var(--gray-1, #333);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;
}

.search-title h6 {
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: var(--gray-2, #4f4f4f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.5%;
}
.discover-container {
  /* overflow: auto; */
}

.top-chart {
}

.title {
  display: flex;
  justify-content: space-between;
}

.album {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 308px;
}

.album-thumb {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);
  background-position: center;
  background-size: cover;
}

.album-item {
  margin: 10px;
}

.album-item h4 {
  width: 120px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.album-item h5 {
  width: 120px;
  color: #4f4f4f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.you-may-like {
  height: 100%;
  margin: 12px 10px 0px 0;
}

.you-may-like .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%;
  margin-bottom: 22px;
}

.random-song {
  height: calc(100vh - 586px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 21px;
}

.random-song .item {
  display: flex;
  width: 100%;
  gap: 8px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  
}

.random-song .item:hover{
  background-color: #4caf4fe8;
  cursor: pointer;
}

.random-song .item-thumb {
  width: 42px;
  height: 42px;
  background-position: center center;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);
}

.random-song .item-name {
}

.random-song .item-name-song {
  width: 150px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.random-song .item-name-singer {
  width: 150px;
  color: #4f4f4f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.random-song .item-song-time {
  margin-left: auto;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;
}

/* Dashboard */

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 16px 16px 14px;
  background-color: #fafafa;
  position: relative;
  top: 0;
  width: 454px;
  border-bottom: 1px solid #ebebeb;
}

.dashboard header {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
}

.dashboard header h4 {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%;
}

.dashboard header h2 {
  margin-top: 20px;
  width: 100%;
  color: #333;
  font-size: 20px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  animation: marquee 10s linear infinite;
}

/* CD */
.cd {
  display: flex;
  margin: 0 auto;
  width: 300px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);

  transform-origin: center center;
  transition: transform 0.2s ease;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

/* Volume */
.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.volume-off {
  margin: 16px;
}

.volume-up {
  margin: 16px;
}

.volume-bar {
  width: 30%;
  -webkit-appearance: none;
  height: 6px;
  background: linear-gradient(
    90deg,
    rgb(39, 174, 96) 50%,
    rgb(219, 219, 219) 50%
  );
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

/* Time played */

.time-played {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.time-played.hidden {
  opacity: 0;
}

.time-played-start {
}

.time-played-remaining {
}

/* Progress */

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: linear-gradient(
    90deg,
    rgb(219, 219, 219) 60%,
    rgb(219, 219, 219) 60%
  );
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.progress:hover {
  opacity: 1;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #333;
}

/* PLAYLIST */
.track-list {
  height: 100%;
}

.track-list .btn {
  display: inline;
}

.track-list .btn {
  display: inline;
  margin-right: 5px;
}

.track-list {
  min-width: 256px;
  max-width: 308px;
  padding: 12px;
}

.playlist-title {
  color: var(--gray-1, #333);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-top: 21px;
  margin-bottom: 12px;
}

.add-btn {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.playlist-list-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.playlist-list.show {
  display: flex;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.playlist-name {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-actions {
  display: flex;
}

.btn-list {
  margin-left: 10px;
  padding: 0 5px;
}

.delete-playlist-btn,
.edit-playlist-btn {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-playlist-btn {
  background-color: #4caf50;
}
.create-playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.create-playlist.show {
  display: flex;
}

.create-playlist-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.create-playlist input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-playlist button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-heading {
  color: var(--gray-3, #828282);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;

  margin-top: 16px;
  margin-bottom: 12px;
}

.playlist {
  height: calc(100vh - 138px);
  overflow-y: auto;
}

.song {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover{
  background-color: #4caf4fe8;
  cursor: pointer;
}

.song[draggable="true"] {
}

.song.dragging {
  opacity: 0.5;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .author,
.song .title {
}

.song .thumb {
  width: 42px;
  height: 42px;
  background-position: center center;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);

  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0;
}

.song .title {
  width: 150px;
  color: var(--gray-1, #333);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.5%;
}

.song .author {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;

  color: var(--gray-2, #4f4f4f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.5%;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.song .popup-container.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.song .popup-container {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .player {
    height: 100vh;
  }
  .dashboard {
    display: none;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 98%;
    padding: 0;
    padding-bottom: 101px;
  }

  .discover {
    display: none;
    position: fixed;
    bottom: 0;
    width: 98%;
    padding: 0;
    padding-bottom: 101px;
  }
  .random-song {
    height: calc(100vh - 687px);
  }
  .album {
    max-width: 100%;
  }

  .track-list {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 101px;
  }
  .playlist {
    height: calc(100vh - 239px);
  }

  .nav {
    display: flex;
    width: 319px;
    height: 100px;
    padding: 0px 16px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 11px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .nav div {
    padding: 20px;
  }

  .discover.active,
  .track-list.active {
    display: block;
  }
  .dashboard.active {
    display: flex;
  }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .nav {
    display: none;
  }
  .player {
    display: flex;
    flex-wrap: wrap;
  }
  .discover {
    flex: 0 0 50%;
  }
  .dashboard,
  .track-list {
    flex-basis: 100%;
  }
}

/* Pc */
@media only screen and (min-width: 64em) {
  .nav {
    display: none;
  }
}
