:root {
  --primary-color: #27ae60;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.discover {
  width: 308px;
  padding: 12px;
  background-color: #fff;
  
}

.discover header {
  margin-top: 18px;
  margin-bottom: 40px;
  font-size: 32px;
  
font-style: normal;
font-weight: 700;
line-height: 110.5%;
text-align: left;
}

.top-chart {

}

.title {
  display: flex;
  justify-content: space-between;
}

.album {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 308px;
}

.album-thumb{
  width: 120px;
  height: 120px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);
  background-position: center;
  background-size: cover;
  
}

.album-item {
  margin: 10px;
}

.album-item h4 {
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: 110.5%;
}

.album-item h5 {
 color: #4F4F4F;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 110.5%;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: relative;
  top: 0;
  width: 454px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

/* Volume */
.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.volume-off {
  margin: 16px;
}

.volume-up {
  margin: 16px;
}

.volume-bar {
  width: 30%;
  -webkit-appearance: none;
  height: 6px;
  background: linear-gradient(
    90deg,
    rgb(39, 174, 96) 50%,
    rgb(219, 219, 219) 50%
  );
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
  );
}

/* Time played */

.time-played {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.time-played.hidden {
  opacity: 0;
}

.time-played-start {
}

.time-played-remaining {
}

/* Progress */

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: linear-gradient(
    90deg,
    rgb(219, 219, 219) 60%,
    rgb(219, 219, 219) 60%
  );
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.progress:hover {
  opacity: 1;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #333;
}

/* PLAYLIST */
.playlist-title {
  font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 110.5%;

margin-top: 21px;
margin-bottom: 19px;
}

.playlist-component .btn{
  display: inline;
}

.playlist-component .btn {
  display: inline;
  margin-left: 19px;

}

.playlist {
  max-width: 308px;
  max-height: 600px;
  overflow: auto;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
